<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" name="Katelyn Smith - Analyst" email="katelyn.smith@stockwizard.com">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>

    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>

  <td-layout-nav [toolbarTitle]="name" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

    <router-outlet></router-outlet>
    

    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="60">
        <mat-card>
          <mat-card-title>US Market Overview</mat-card-title>
          <mat-card-subtitle>Market trends at a glance</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <td-data-table
              [data]="marketData"
              [columns]="configWidthColumns"
              [style.height.px]="300">
              <ng-template tdDataTableTemplate="img" let-value="value">
                <img [src]="value"/>
              </ng-template>
            </td-data-table>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions class="view-more-button">
            <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
              <span>See All Results</span>
            </a>
          </mat-card-actions>
        </mat-card>

        <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top']">
          <mat-card-title>Stock Market News</mat-card-title>
          <mat-card-subtitle>The latest breaking news from Wall Street</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <li *ngFor="let story of stories; let i = index">
              <a mat-list-item>
                <h3 matLine>{{story.headline}}</h3>
                <p matLine>{{story.timestamp}} - {{story.source}}</p>
              </a>
              <mat-divider md-inset *ngIf="!last"></mat-divider>
            </li>
          </mat-nav-list>
          <mat-divider></mat-divider>
          <mat-card-actions class="view-more-button">
            <a mat-button color="accent" class="text-upper" routerLink="/news-form">
              <span>Submit News Story</span>
            </a>
            <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
              <span>View More</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div flex-gt-sm="40">
        <mat-card>
          <mat-card-title>Stock Alerts</mat-card-title>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <li *ngFor="let alert of alerts; let i = index">
              <a mat-list-item>
                <mat-icon matListAvatar color="accent">warning</mat-icon>
                <h3 matLine>{{alert.symbol}}</h3>
                <p matLine>{{alert.alert}}</p>
              </a>
              <mat-divider md-inset *ngIf="!last"></mat-divider>
            </li>
          </mat-nav-list>
          <mat-divider></mat-divider>
          <mat-card-actions class="view-more-button">
            <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
              <span>View More</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Made with <mat-icon class="text-md">favorite</mat-icon> using <a href="http://getcovalent.com" class="text-nodecoration tc-blue-700">Covalent</a>, built on Angular v5 + Angular Material.</span>
      </div>
    </td-layout-footer>

  </td-layout-nav>
</td-layout>
