<td-layout>
  <td-navigation-drawer flex [sidenavTitle]="name" name="Katelyn Smith - Analyst" email="katelyn.smith@stockwizard.com">
    <div td-navigation-drawer-menu>
    </div>
  </td-navigation-drawer>

  <td-layout-nav [toolbarTitle]="name" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

    <td-layout-card-over>
      <mat-card-title>Submit a News Story</mat-card-title>
      <mat-card-subtitle>Got some breaking news or a hot take? Submit a story to our newsfeed here.</mat-card-subtitle>

      <mat-divider></mat-divider>
      <mat-card-content>
        <form class="form-container">
          <td-steps>
            <td-step #step1 label="Add a Headline" sublabel="Make sure it's eye-grabbing.">
              <mat-form-field>
                <input matInput placeholder="Headline">
              </mat-form-field>
            </td-step>
            <td-step #step2 label="Add a Source" sublabel="Give credit where credit is due.">
              <mat-form-field>
                <input matInput placeholder="Author or Source">
              </mat-form-field>
            </td-step>
            <td-step #step3 label="Add Content" sublabel="Keep it short and sweet.">
              <mat-form-field  class="content-textarea">
                <textarea matInput matTextareaAutosize placeholder="Content"></textarea>
              </mat-form-field>
            </td-step>
          </td-steps>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper" routerLink="/dashboard">
              <span>Submit</span>
            </a>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </td-layout-card-over>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Made with <mat-icon class="text-md">favorite</mat-icon> using <a href="http://getcovalent.com" class="text-nodecoration tc-blue-700">Covalent</a>, built on Angular v5 + Angular Material.</span>
      </div>
    </td-layout-footer>

  </td-layout-nav>
</td-layout>
